# Social Network Analysis user-user graph

## Data

In [4]:
import numpy as np
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

## File raw

In [5]:
posting_1 = pd.read_csv('data/Postings_01052019_15052019.csv', sep=';')
posting_1.head()

,ID_Posting,ID_Posting_Parent,ID_CommunityIdentity,PostingHeadline,PostingComment,PostingCreatedAt,ID_Article,ArticlePublishingDate,ArticleTitle,ArticleChannel,ArticleRessortName,UserCommunityName,UserGender,UserCreatedAt
0,1041073586,1.041073e+09,671476,Das hat gestern bereits der Voggenhuber angefü...,schieder hatte dem inhaltlich nichts entgegenz...,2019-05-01 18:21:15.127,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470
1,1041073839,1.041073e+09,566938,NaN,...und meinen Bezirk bekommst du als Erbe mit.,2019-05-01 18:28:22.040,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,AlphaRomeo,m,2015-08-28 17:07:41.110
2,1041073872,1.041069e+09,669286,NaN,"Nein, bei der ÖVP/FPÖ genauso passiert. Ich wo...",2019-05-01 18:29:05.533,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Hpolditsch,NaN,2018-03-06 20:03:42.737
3,1041080734,1.041080e+09,671476,Sie haben doch nichts gefordert??,sie haben nur die regierung kritisiert. das di...,2019-05-01 22:37:56.010,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470
4,1041080828,NaN,671476,Heute wäre der perfekte Tag für die SPÖ gewese...,"ihr noch nicht erfülltes versprechen, den silb...",2019-05-01 22:42:06.310,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470

In [6]:
posting_2 = pd.read_csv('data/Postings_16052019_31052019.csv', sep=';')
posting_2.head()

,ID_Posting,ID_Posting_Parent,ID_CommunityIdentity,PostingHeadline,PostingComment,PostingCreatedAt,ID_Article,ArticlePublishingDate,ArticleTitle,ArticleChannel,ArticleRessortName,UserCommunityName,UserGender,UserCreatedAt
0,1041515171,NaN,182351,da hat er aber recht ...auch wenn hier nun ein...,denn Österreich ist von lauter sicheren (EU) L...,2019-05-16 11:25:39.287,2000103241947,2019-05-16 10:57:22.00,Innenminister Kickl will überhaupt keine Asyla...,Inland,Integrationspolitik,nadaschauichaber,m,2012-11-25 15:09:03.087
1,1041515292,1.041515e+09,182351,NaN,außer von den Naiven die aus 2015 nichts geler...,2019-05-16 11:28:44.703,2000103241947,2019-05-16 10:57:22.00,Innenminister Kickl will überhaupt keine Asyla...,Inland,Integrationspolitik,nadaschauichaber,m,2012-11-25 15:09:03.087
2,1041515412,1.041514e+09,182351,NaN,no dan schrieb man auch schon hier ma https://...,2019-05-16 11:31:31.110,2000103241947,2019-05-16 10:57:22.00,Innenminister Kickl will überhaupt keine Asyla...,Inland,Integrationspolitik,nadaschauichaber,m,2012-11-25 15:09:03.087
3,1041596110,1.041589e+09,630965,NaN,"ein verbrechersyndikat zeigt dem volk auch, da...",2019-05-18 10:12:47.417,2000103378024,2019-05-18 07:43:14.23,Kurz ist mit der FPÖ gescheitert – und will tr...,Meinung,Hans Rauscher,ma heix,NaN,2017-04-09 18:41:15.267
4,1041544483,1.041544e+09,36135,NaN,Und sie denken (?) illegalität schützt vor dem...,2019-05-16 23:11:43.447,2000103287009,2019-05-16 18:42:18.00,Abtreibungsverbot in Alabama: Frauen werden st...,Meinung,Bianca Blei,BlackAdder,m,2003-02-23 10:21:54.000

In [7]:
votes_1 = pd.read_csv('data/Votes_01052019_15052019.csv', sep=';')
votes_1.head()

,ID_CommunityIdentity,ID_Posting,VoteNegative,VotePositive,VoteCreatedAt,UserCommunityName,UserGender,UserCreatedAt
0,675862,1041076570,1,0,2019-05-06 16:47:46.883,Heckscheibenwischer,m,2018-06-26 06:04:30.513
1,689023,1041076570,1,0,2019-05-01 22:19:06.240,Heinz Fettleber,NaN,2019-03-08 21:23:11.463
2,24810,1041076745,0,1,2019-05-01 23:54:54.600,Bruce Campbell,m,2011-01-12 16:50:40.597
3,673781,1041076745,0,1,2019-05-01 20:59:29.910,Erdäpfelsack,NaN,2018-05-29 07:13:49.350
4,24810,1041076831,0,1,2019-05-01 23:51:42.730,Bruce Campbell,m,2011-01-12 16:50:40.597

In [8]:
votes_2 = pd.read_csv('data/Votes_16052019_31052019.csv', sep=';')
votes_2.head()

,ID_CommunityIdentity,ID_Posting,VoteNegative,VotePositive,VoteCreatedAt,UserCommunityName,UserGender,UserCreatedAt
0,571503,1041620947,0,1,2019-05-18 16:34:10.213,vonWeitem,m,2015-11-04 15:45:11.493
1,178936,1041622392,0,1,2019-05-18 15:57:07.637,phischi,m,2008-09-19 02:02:59.060
2,178936,1041623153,0,1,2019-05-18 15:57:02.103,phischi,m,2008-09-19 02:02:59.060
3,68791,1041623762,0,1,2019-05-18 22:25:06.707,guitarero,m,2004-06-30 00:34:39.990
4,507625,1041623762,1,0,2019-05-18 16:06:04.650,Srpftpfrt,m,2006-11-22 14:50:55.347

In [9]:
posts = pd.concat([posting_1, posting_2])
votes = pd.concat([votes_1, votes_2])

In [10]:
# describe the osts and votes 
posts.describe()

         ID_Posting  ID_Posting_Parent  ID_CommunityIdentity    ID_Article
count  7.390940e+05       5.003130e+05         739094.000000  7.390940e+05
mean   1.041637e+09       1.041630e+09         426815.772693  2.000092e+12
std    3.767585e+05       3.793703e+05         237313.261620  4.652979e+09
min    1.041057e+09       1.041057e+09             30.000000  2.515612e+06
25%    1.041307e+09       1.041299e+09         179108.000000  2.000103e+12
50%    1.041559e+09       1.041548e+09         532199.000000  2.000103e+12
75%    1.041980e+09       1.041979e+09         633157.000000  2.000104e+12
max    1.042391e+09       1.042391e+09         694522.000000  2.000104e+12

In [11]:
votes.describe()

       ID_CommunityIdentity    ID_Posting  VoteNegative  VotePositive
count          3.824984e+06  3.824984e+06  3.824984e+06  3.824984e+06
mean           4.224524e+05  1.041648e+09  2.123483e-01  7.876517e-01
std            2.353095e+05  3.858786e+05  4.089701e-01  4.089701e-01
min            4.000000e+00  1.041057e+09  0.000000e+00  0.000000e+00
25%            1.768740e+05  1.041272e+09  0.000000e+00  1.000000e+00
50%            5.291340e+05  1.041595e+09  0.000000e+00  1.000000e+00
75%            6.065550e+05  1.041989e+09  0.000000e+00  1.000000e+00
max            6.945120e+05  1.042391e+09  1.000000e+00  1.000000e+00

In [12]:
print(votes.columns)
posts.columns

Index(['ID_CommunityIdentity', 'ID_Posting', 'VoteNegative', 'VotePositive',
       'VoteCreatedAt', 'UserCommunityName', 'UserGender', 'UserCreatedAt'],
      dtype='object')

Index(['ID_Posting', 'ID_Posting_Parent', 'ID_CommunityIdentity',
       'PostingHeadline', 'PostingComment', 'PostingCreatedAt', 'ID_Article',
       'ArticlePublishingDate', 'ArticleTitle', 'ArticleChannel',
       'ArticleRessortName', 'UserCommunityName', 'UserGender',
       'UserCreatedAt'],
      dtype='object')

## Graph

In [13]:
# Users 
data = posts[["ID_CommunityIdentity", "ID_Posting", "ID_Posting_Parent"]]
data["ID_Posting_Parent"] = data["ID_Posting_Parent"].fillna(-1)
data["ID_Posting_Parent"] = data["ID_Posting_Parent"].apply(lambda x: '{:.0f}'.format(x))

data.head()

/var/folders/x2/jj0kgq010j128mdwvs89btf00000gp/T/ipykernel_69936/3383323263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ID_Posting_Parent"] = data["ID_Posting_Parent"].fillna(-1)
/var/folders/x2/jj0kgq010j128mdwvs89btf00000gp/T/ipykernel_69936/3383323263.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ID_Posting_Parent"] = data["ID_Posting_Parent"].apply(lambda x: '{:.0f}'.format(x))

   ID_CommunityIdentity  ID_Posting ID_Posting_Parent
0                671476  1041073586        1041073234
1                566938  1041073839        1041072504
2                669286  1041073872        1041068600
3                671476  1041080734        1041080236
4                671476  1041080828                -1

In [14]:
# select 1000 first elements
data = data.head(10000) 
data.head()

   ID_CommunityIdentity  ID_Posting ID_Posting_Parent
0                671476  1041073586        1041073234
1                566938  1041073839        1041072504
2                669286  1041073872        1041068600
3                671476  1041080734        1041080236
4                671476  1041080828                -1

In [15]:
df = df.loc[df['ID_Posting'] == df['ID_Posting_Parent']].index
df

NameError: name 'df' is not defined

In [16]:
edgeList= []
try:
    edgeList = [
        [post["ID_CommunityIdentity"], next(iter(data[data["ID_Posting"] == post["ID_Posting_Parent"]]["ID_CommunityIdentity"]))]
        for idx, post in data.iterrows()]
except Exception as e:
    print(e)

In [17]:
edgeList

[]