## Data exploration votes
This notebook is for exploring the votes datasets.

In [3]:
import pandas as pd
import os

In [5]:
os.chdir('/Users/emilejohnston/DataspellProjects/sna_link_prediction')
os.getcwd()

'/Users/emilejohnston/DataspellProjects/sna_link_prediction'

In [10]:
votes_1 = pd.read_csv('data/Votes_01052019_15052019.csv', sep=';')
votes_2 = pd.read_csv('data/Votes_16052019_31052019.csv', sep=';')
votes = pd.concat([votes_1, votes_2])

In [12]:
votes

,ID_CommunityIdentity,ID_Posting,VoteNegative,VotePositive,VoteCreatedAt,UserCommunityName,UserGender,UserCreatedAt
0,675862,1041076570,1,0,2019-05-06 16:47:46.883,Heckscheibenwischer,m,2018-06-26 06:04:30.513
1,689023,1041076570,1,0,2019-05-01 22:19:06.240,Heinz Fettleber,NaN,2019-03-08 21:23:11.463
2,24810,1041076745,0,1,2019-05-01 23:54:54.600,Bruce Campbell,m,2011-01-12 16:50:40.597
3,673781,1041076745,0,1,2019-05-01 20:59:29.910,Erdäpfelsack,NaN,2018-05-29 07:13:49.350
4,24810,1041076831,0,1,2019-05-01 23:51:42.730,Bruce Campbell,m,2011-01-12 16:50:40.597
...,...,...,...,...,...,...,...,...
2254242,553628,1042362731,0,1,2019-06-03 17:47:17.467,404 not found,NaN,2014-12-06 15:15:06.280
2254243,553628,1042362772,0,1,2019-06-03 17:48:07.213,404 not found,NaN,2014-12-06 15:15:06.280
2254244,553628,1042363572,0,1,2019-06-03 17:46:52.170,404 not found,NaN,2014-12-06 15:15:06.280
2254245,503247,1042366280,0,1,2019-06-03 20:50:24.820,Scorpio,m,2012-12-19 10:42:30.780
2254246,553628,1042368779,0,1,2019-06-03 20:11:51.247,404 not found,NaN,2014-12-06 15:15:06.280

In [20]:
n_users = votes['ID_CommunityIdentity'].nunique()
n_users

29933

In [25]:
users = votes[['ID_CommunityIdentity','UserCommunityName','UserGender','UserCreatedAt']].drop_duplicates()
users

,ID_CommunityIdentity,UserCommunityName,UserGender,UserCreatedAt
0,675862,Heckscheibenwischer,m,2018-06-26 06:04:30.513
1,689023,Heinz Fettleber,NaN,2019-03-08 21:23:11.463
2,24810,Bruce Campbell,m,2011-01-12 16:50:40.597
3,673781,Erdäpfelsack,NaN,2018-05-29 07:13:49.350
5,40177,der held,m,2006-03-02 21:58:24.830
...,...,...,...,...
2251797,155470,Mrs. Dalloway,w,2011-11-23 16:36:03.510
2252070,84374,Hofratz Schweiger,m,2011-03-20 07:12:38.693
2254011,653670,hela,NaN,2017-12-01 17:56:09.640
2254051,694305,ala.tobischek,NaN,2019-05-31 15:20:27.420
2254069,694303,Fisch0815,m,2013-05-07 19:59:22.210

In [26]:
users.to_csv('data/Users_votes.csv', index=False)

In [18]:
# checking that there are no inconsistencies in the data:
#users['ID_CommunityIdentity'].value_counts()
#users['UserCommunityName'].value_counts()
users['UserCreatedAt'].value_counts()

UserCreatedAt
2012-12-05 01:47:43.317    59
2000-08-29 13:51:12.000     3
2000-08-29 14:24:08.000     2
2000-09-05 14:20:43.000     2
2000-08-29 13:42:02.000     2
                           ..
2006-04-02 21:47:56.657     1
2003-08-05 09:44:23.453     1
2014-05-28 12:55:50.660     1
2017-10-22 09:14:16.993     1
2013-05-07 19:59:22.210     1
Name: count, Length: 29853, dtype: int64

In [22]:
sus_votes = votes[votes['UserCreatedAt'] == '2012-12-05 01:47:43.317']
sus_votes

,ID_CommunityIdentity,ID_Posting,VoteNegative,VotePositive,VoteCreatedAt,UserCommunityName,UserGender,UserCreatedAt
2650,686949,1041080588,1,0,2019-05-01 23:32:59.160,8b3b3b54-7e11-4708-8ec6-f0a46275cf28,m,2012-12-05 01:47:43.317
3992,604715,1041271063,0,1,2019-05-08 13:07:08.083,c7690439-ba63-4cd4-aa60-0b5248e449ca,m,2012-12-05 01:47:43.317
5108,604715,1041270974,0,1,2019-05-08 13:07:15.803,c7690439-ba63-4cd4-aa60-0b5248e449ca,m,2012-12-05 01:47:43.317
5109,604715,1041271174,0,1,2019-05-08 12:58:18.747,c7690439-ba63-4cd4-aa60-0b5248e449ca,m,2012-12-05 01:47:43.317
5111,604715,1041271342,0,1,2019-05-08 13:01:37.987,c7690439-ba63-4cd4-aa60-0b5248e449ca,m,2012-12-05 01:47:43.317
...,...,...,...,...,...,...,...,...
2208303,693962,1042169810,0,1,2019-05-29 06:06:34.783,028c49ce-8444-41cd-adfa-18ccbe1e5802,m,2012-12-05 01:47:43.317
2216525,693962,1042258134,0,1,2019-05-31 13:03:53.960,028c49ce-8444-41cd-adfa-18ccbe1e5802,m,2012-12-05 01:47:43.317
2224609,692184,1042271844,1,0,2019-06-01 10:15:38.203,efbe9307-cb67-4f39-b115-d6ac6da223f2,m,2012-12-05 01:47:43.317
2242143,693962,1042236449,0,1,2019-05-30 20:37:52.880,028c49ce-8444-41cd-adfa-18ccbe1e5802,m,2012-12-05 01:47:43.317
2243018,694419,1042304444,0,1,2019-06-03 11:32:49.667,7e7cb1c3-12b2-4cf8-b4b3-f19593cf6efa,m,2012-12-05 01:47:43.317

In [21]:
votes_per_user = len(votes)/n_users
votes_per_user

127.78485283800488

In [24]:
votes_per_bot = len(sus_votes)/59
votes_per_bot

118.57627118644068