# Creating new files
This notebook is for making new files from the existing files, to restructure the data in a more compact way.

In [52]:
import pandas as pd
import os

In [53]:
os.chdir('/Users/emilejohnston/DataspellProjects/sna_link_prediction')
os.getcwd()

'/Users/emilejohnston/DataspellProjects/sna_link_prediction'

## Reading the original files

### Reading the postings files

In [54]:
# Postings (comments under articles of Der Standard)
posting_1 = pd.read_csv('./data/Postings_01052019_15052019.csv', sep=';')
posting_2 = pd.read_csv('./data/Postings_16052019_31052019.csv', sep=';')
postings = pd.concat([posting_1, posting_2])
postings.head()

,ID_Posting,ID_Posting_Parent,ID_CommunityIdentity,PostingHeadline,PostingComment,PostingCreatedAt,ID_Article,ArticlePublishingDate,ArticleTitle,ArticleChannel,ArticleRessortName,UserCommunityName,UserGender,UserCreatedAt
0,1041073586,1.041073e+09,671476,Das hat gestern bereits der Voggenhuber angefü...,schieder hatte dem inhaltlich nichts entgegenz...,2019-05-01 18:21:15.127,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470
1,1041073839,1.041073e+09,566938,NaN,...und meinen Bezirk bekommst du als Erbe mit.,2019-05-01 18:28:22.040,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,AlphaRomeo,m,2015-08-28 17:07:41.110
2,1041073872,1.041069e+09,669286,NaN,"Nein, bei der ÖVP/FPÖ genauso passiert. Ich wo...",2019-05-01 18:29:05.533,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Hpolditsch,NaN,2018-03-06 20:03:42.737
3,1041080734,1.041080e+09,671476,Sie haben doch nichts gefordert??,sie haben nur die regierung kritisiert. das di...,2019-05-01 22:37:56.010,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470
4,1041080828,NaN,671476,Heute wäre der perfekte Tag für die SPÖ gewese...,"ihr noch nicht erfülltes versprechen, den silb...",2019-05-01 22:42:06.310,2000102330973,2019-05-01 10:28:57.49,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,Inland,Parteien,Ravenspower,NaN,2018-04-14 13:42:28.470

### Reading the votes files

In [55]:
votes_1 = pd.read_csv('data/Votes_01052019_15052019.csv', sep=';')
votes_2 = pd.read_csv('data/Votes_16052019_31052019.csv', sep=';')
votes = pd.concat([votes_1, votes_2])
votes.head()

,ID_CommunityIdentity,ID_Posting,VoteNegative,VotePositive,VoteCreatedAt,UserCommunityName,UserGender,UserCreatedAt
0,675862,1041076570,1,0,2019-05-06 16:47:46.883,Heckscheibenwischer,m,2018-06-26 06:04:30.513
1,689023,1041076570,1,0,2019-05-01 22:19:06.240,Heinz Fettleber,NaN,2019-03-08 21:23:11.463
2,24810,1041076745,0,1,2019-05-01 23:54:54.600,Bruce Campbell,m,2011-01-12 16:50:40.597
3,673781,1041076745,0,1,2019-05-01 20:59:29.910,Erdäpfelsack,NaN,2018-05-29 07:13:49.350
4,24810,1041076831,0,1,2019-05-01 23:51:42.730,Bruce Campbell,m,2011-01-12 16:50:40.597

### Reading the followings files

In [56]:
followings = pd.read_csv('data/Following_Ignoring_Relationships_01052019_31052019.csv', sep=';')
followings.head()

,ID_CommunityIdentity,ID_CommunityIdentityConnectedTo,ID_CommunityConnectionType
0,1778,246490,1
1,5872,5872,1
2,9030,23875,1
3,9030,508504,1
4,10569,10569,1

## Isolating user information

### From postings

In [57]:
users_postings = postings[['ID_CommunityIdentity','UserCommunityName','UserGender','UserCreatedAt']].drop_duplicates()
users_postings

,ID_CommunityIdentity,UserCommunityName,UserGender,UserCreatedAt
0,671476,Ravenspower,NaN,2018-04-14 13:42:28.470
1,566938,AlphaRomeo,m,2015-08-28 17:07:41.110
2,669286,Hpolditsch,NaN,2018-03-06 20:03:42.737
6,523527,icecold_lips,m,2013-09-04 12:37:09.603
7,74674,GuteNachtSchaukel,NaN,2007-04-02 20:34:49.397
...,...,...,...,...
395202,694412,DerBöseFlick,NaN,2019-06-02 17:41:57.763
395279,89026,Hector Barbossa,m,2009-11-01 14:38:42.720
395641,666304,Tunnel D´or,NaN,2018-01-17 11:29:21.790
395656,155470,Mrs. Dalloway,w,2011-11-23 16:36:03.510
395679,655206,smtr,NaN,2017-12-07 16:13:24.730

### From votes

In [58]:
users_votes = votes[['ID_CommunityIdentity','UserCommunityName','UserGender','UserCreatedAt']].drop_duplicates()
users_votes

,ID_CommunityIdentity,UserCommunityName,UserGender,UserCreatedAt
0,675862,Heckscheibenwischer,m,2018-06-26 06:04:30.513
1,689023,Heinz Fettleber,NaN,2019-03-08 21:23:11.463
2,24810,Bruce Campbell,m,2011-01-12 16:50:40.597
3,673781,Erdäpfelsack,NaN,2018-05-29 07:13:49.350
5,40177,der held,m,2006-03-02 21:58:24.830
...,...,...,...,...
2251797,155470,Mrs. Dalloway,w,2011-11-23 16:36:03.510
2252070,84374,Hofratz Schweiger,m,2011-03-20 07:12:38.693
2254011,653670,hela,NaN,2017-12-01 17:56:09.640
2254051,694305,ala.tobischek,NaN,2019-05-31 15:20:27.420
2254069,694303,Fisch0815,m,2013-05-07 19:59:22.210

### From followings

In [59]:
followings_type_1 = followings[followings['ID_CommunityConnectionType'] == 1]
followings_type_1

,ID_CommunityIdentity,ID_CommunityIdentityConnectedTo,ID_CommunityConnectionType
0,1778,246490,1
1,5872,5872,1
2,9030,23875,1
3,9030,508504,1
4,10569,10569,1
...,...,...,...
86771,686549,686549,1
86772,689023,578323,1
86773,689023,691306,1
86774,689023,691885,1
86775,692601,692601,1

In [60]:
type1_col1 = followings_type_1['ID_CommunityIdentity'].value_counts().reset_index()
type1_col1.columns = ['ID_CommunityIdentity', 'type1_col1']
type1_col2 = followings_type_1['ID_CommunityIdentityConnectedTo'].value_counts().reset_index()
type1_col2.columns = ['ID_CommunityIdentity', 'type1_col2']

In [61]:
type1_counts = pd.merge(type1_col1, type1_col2, on='ID_CommunityIdentity', how='outer')
type1_counts

       ID_CommunityIdentity  type1_col1  type1_col2
0                    606270       199.0         4.0
1                    687729       196.0         7.0
2                    654383       186.0        77.0
3                    632934       183.0         9.0
4                    207112       180.0       277.0
...                     ...         ...         ...
15525                533310         NaN         1.0
15526                632091         NaN         1.0
15527                533896         NaN         1.0
15528                504150         NaN         1.0
15529                502471         NaN         1.0

[15530 rows x 3 columns]

In [62]:
followings_type_2 = followings[followings['ID_CommunityConnectionType'] == 2]
followings_type_2

,ID_CommunityIdentity,ID_CommunityIdentityConnectedTo,ID_CommunityConnectionType
14,20447,37708,2
15,20447,43775,2
19,20447,63799,2
20,20447,72114,2
22,20447,92007,2
...,...,...,...
86591,636345,638760,2
86690,666502,23572,2
86691,666502,169493,2
86692,666502,630020,2
86726,675496,677875,2

In [63]:
type2_col1 = followings_type_2['ID_CommunityIdentity'].value_counts().reset_index()
type2_col1.columns = ['ID_CommunityIdentity', 'type2_col1']
type2_col2 = followings_type_2['ID_CommunityIdentityConnectedTo'].value_counts().reset_index()
type2_col2.columns = ['ID_CommunityIdentity', 'type2_col2']

In [64]:
type2_counts = pd.merge(type2_col1, type2_col2, on='ID_CommunityIdentity', how='outer')
type2_counts

      ID_CommunityIdentity  type2_col1  type2_col2
0                   519605       186.0         NaN
1                   655677       185.0         NaN
2                   524430       181.0         5.0
3                   128733       180.0         7.0
4                   678460       178.0         2.0
...                    ...         ...         ...
8689                575496         NaN         1.0
8690                220395         NaN         1.0
8691                 73199         NaN         1.0
8692                544911         NaN         1.0
8693                674865         NaN         1.0

[8694 rows x 3 columns]

In [65]:
type_counts = pd.merge(type1_counts, type2_counts, on='ID_CommunityIdentity', how='outer')
type_counts.fillna(0, inplace=True)
type_counts

       ID_CommunityIdentity  type1_col1  type1_col2  type2_col1  type2_col2
0                    606270       199.0         4.0         0.0         0.0
1                    687729       196.0         7.0         0.0         4.0
2                    654383       186.0        77.0         0.0         1.0
3                    632934       183.0         9.0         1.0         0.0
4                    207112       180.0       277.0         2.0         6.0
...                     ...         ...         ...         ...         ...
17480                505288         0.0         0.0         0.0         1.0
17481                500335         0.0         0.0         0.0         1.0
17482                518062         0.0         0.0         0.0         1.0
17483                220395         0.0         0.0         0.0         1.0
17484                 73199         0.0         0.0         0.0         1.0

[17485 rows x 5 columns]

### Combining user information
First we merge information about users who commented with information about users who voted, eliminating duplicates. Then we add information about the followings of users.

In [66]:
Users_p_and_v = pd.concat([users_postings, users_votes]).drop_duplicates()
Users_p_and_v

,ID_CommunityIdentity,UserCommunityName,UserGender,UserCreatedAt
0,671476,Ravenspower,NaN,2018-04-14 13:42:28.470
1,566938,AlphaRomeo,m,2015-08-28 17:07:41.110
2,669286,Hpolditsch,NaN,2018-03-06 20:03:42.737
6,523527,icecold_lips,m,2013-09-04 12:37:09.603
7,74674,GuteNachtSchaukel,NaN,2007-04-02 20:34:49.397
...,...,...,...,...
2246918,686624,Exergon,NaN,2019-01-24 09:32:46.097
2247715,694405,CocoJumbo69,NaN,2019-01-27 14:40:52.147
2250899,600222,CX7000,m,2005-07-08 09:28:31.290
2254011,653670,hela,NaN,2017-12-01 17:56:09.640
2254051,694305,ala.tobischek,NaN,2019-05-31 15:20:27.420

In [67]:
Users = pd.merge(Users_p_and_v, type_counts, on='ID_CommunityIdentity', how='outer')
Users.loc[:, ['type1_col1', 'type1_col2', 'type2_col1', 'type2_col2']].fillna(0, inplace=True) # Users who were not present appear zero times
# TODO: the fillna() doesn't seem to work
Users

,ID_CommunityIdentity,UserCommunityName,UserGender,UserCreatedAt,type1_col1,type1_col2,type2_col1,type2_col2
0,671476,Ravenspower,NaN,2018-04-14 13:42:28.470,4.0,3.0,0.0,21.0
1,566938,AlphaRomeo,m,2015-08-28 17:07:41.110,8.0,3.0,0.0,6.0
2,669286,Hpolditsch,NaN,2018-03-06 20:03:42.737,0.0,0.0,0.0,1.0
3,523527,icecold_lips,m,2013-09-04 12:37:09.603,0.0,1.0,0.0,5.0
4,74674,GuteNachtSchaukel,NaN,2007-04-02 20:34:49.397,38.0,26.0,0.0,5.0
...,...,...,...,...,...,...,...,...
33755,197204,NaN,NaN,NaN,0.0,0.0,1.0,0.0
33756,574357,NaN,NaN,NaN,0.0,0.0,0.0,1.0
33757,667698,NaN,NaN,NaN,0.0,0.0,0.0,1.0
33758,538065,NaN,NaN,NaN,0.0,0.0,0.0,1.0
33759,667450,NaN,NaN,NaN,0.0,0.0,0.0,1.0

In [68]:
Users['type1_col1'].isna().sum() # Should be zero

16275

In [70]:
Users.to_csv('data/Users_info.csv', index=False) # make a csv file

## Isolating article information

### From postings

In [71]:
Articles = postings[['ID_Article','ArticleTitle','ArticlePublishingDate','ArticleChannel','ArticleRessortName']].drop_duplicates()
Articles

,ID_Article,ArticleTitle,ArticlePublishingDate,ArticleChannel,ArticleRessortName
0,2000102330973,1. Mai in Wien: SPÖ fordert von Strache Rücktritt,2019-05-01 10:28:57.49,Inland,Parteien
13,2000102386715,"Welcher ""Austausch"" der Bevölkerung in Österre...",2019-05-03 11:45:14.00,Inland,Sachpolitik
19,2000102257779,Vom Umgang der SPÖ mit der FPÖ: In Parteistatu...,2019-05-01 08:00:00.00,Meinung,Kommentare der anderen
20,2000102370556,Haftbefehl gegen Oppositionsführer López in Ve...,2019-05-02 09:30:02.84,International,Venezuela
29,2000102263929,"Roter Weltrevolutionär trifft Pragmatiker: ""In...",2019-05-01 08:00:00.00,Inland,SPÖ
...,...,...,...,...,...
392365,2000103561724,"Machen digitale Elektronik, Smartwatch und Wha...",2019-05-26 15:12:58.00,Wissenschaft,Forschung Spezial
392642,2000104151386,Wirecard-Aktie nach Zeitungsbericht unter Druck,2019-05-31 16:18:30.00,Web,IT-Business
392962,2000104090907,Partyplan fürs Wochenende: Queer feiern am End...,2019-05-31 06:00:00.00,Kultur,Was ist los in Wien?
393867,2000104143028,Türkei ermittelt gegen deutsche Journalistin –...,2019-05-31 14:18:37.00,Etat,Presse- und Meinungsfreiheit
394135,2000104152769,Paul-Flora-Preis 2019 an Südtiroler Sven Sachs...,2019-05-31 16:36:51.00,Kultur,Kunstmarkt

In [72]:
Articles.to_csv('data/Articles_info.csv', index=False)

## Isolating comment information

### From postings
There are 4 columns in the data that are specific to each posting, and that are therefore not necessary to form a graph, and can be stored separately for convenience: the parent posting, the headline, the comment, and the creation date.

In [73]:
Postings_info = postings[['ID_Posting','ID_Posting_Parent', 'PostingHeadline', 'PostingComment', 'PostingCreatedAt']]

In [74]:
Postings_info.to_csv('data/Postings_info.csv', index=False)

## Isolating votes information
The information on votes is essentially already isolated, only the user info columns are redundant, and the fact that the VoteNegative and VotePositive columns contain the same information, so removing these columns is enough.

### From votes

In [75]:
Votes_info = votes[['ID_CommunityIdentity', 'ID_Posting', 'VotePositive', 'VoteCreatedAt']]

In [76]:
Votes_info.to_csv('data/Votes_info.csv', index=False)

## Retaining graph-relevant information

We have isolated all information which is not strictly necessary to form a user-article graph, and what is left is the posting ID, user ID and article ID columns.
These can be used to form a bipartite graph where there are user ID nodes on one side and article ID nodes on the other side, and the edges are posting IDs. Each kind of ID can be linked to its respective info dataframe to get more information about the nodes or edges, avoiding the redundancy of the initial data structure.

### From postings

In [77]:
P_user_article_graph = postings[['ID_Posting', 'ID_CommunityIdentity', 'ID_Article']]

### From votes

In [78]:
V_user_article_graph = pd.merge(postings[['ID_Posting', 'ID_Article']], votes[['ID_CommunityIdentity', 'ID_Posting']]) # inner join

### From both

In [79]:
P_user_article_graph_P = P_user_article_graph # create a copy
P_user_article_graph_P['link'] = 'posting' # add a column to distinguish the two kinds of edges
V_user_article_graph_V = V_user_article_graph # create a copy
V_user_article_graph_V['link'] = 'vote' # add a column to distinguish the two kinds of edges
# triggers a SettingWithCopyWarning which is not a problem

/var/folders/x2/jj0kgq010j128mdwvs89btf00000gp/T/ipykernel_41614/2267657676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  P_user_article_graph_P['link'] = 'posting' # add a column to distinguish the two kinds of edges

In [80]:
User_article_graph = pd.concat([P_user_article_graph_P, V_user_article_graph_V])

In [81]:
User_article_graph.to_csv('data/User_article_graph.csv', index=False)